In [10]:
d={'Satisfaction':['Very Satisfied','Satisfied','Neutral',' Unsatisfied','Very Unsatisfied'],
   'Smart Thermostat':[50,80,60,30,20],'Smart Light':[70,100,90,50,50]}   ### Creating a dictionary using the given data

In [11]:
import pandas as pd 
df=pd.DataFrame(d)  ### Coverting the above dictionary to a data frame
df

       Satisfaction  Smart Thermostat  Smart Light
0    Very Satisfied                50           70
1         Satisfied                80          100
2           Neutral                60           90
3       Unsatisfied                30           50
4  Very Unsatisfied                20           50

In [13]:
import researchpy as rp   ## Computing the Chi-square statistics 
table,results=rp.crosstab(df["Satisfaction"],df["Smart Thermostat"], test="chi-square")  ### performing the chi-Square test and cross Tabulation between the Smart thermostat and satisfaction columns
print(table)
print(results)

                 Smart Thermostat
Smart Thermostat               20 30 50 60 80 All
Satisfaction
 Unsatisfied                    0  1  0  0  0   1
Neutral                         0  0  0  1  0   1
Satisfied                       0  0  0  0  1   1
Very Satisfied                  0  0  1  0  0   1
Very Unsatisfied                1  0  0  0  0   1
All                             1  1  1  1  1   5
                 Chi-square test  results
0  Pearson Chi-square ( 16.0) =   20.0000
1                     p-value =    0.2202
2                  Cramer's V =    1.0000

C:\Users\PHANI SRI\AppData\Roaming\Python\Python311\site-packages\researchpy\crosstab.py:146: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Pearson Chi-square ( 16.0) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = f"Pearson Chi-square ({dof: .1f}) = "

In [14]:
## calculating the Chi square table value
import scipy.stats as stats 
chi_table=stats.chi2.ppf(q=0.95,df=4) ## df= degree of freedom (no.of columns-1)(no.of rows-1)
print("Chi-Table value is:",chi_table.round(2))

Chi-Table value is: 9.49

In [15]:
alpha=0.05  ## Assigning the alpha value 
pvalue=0.2202

if pvalue<alpha:
    print("H1 is accepted and H0 is rejected")  
else:
    print("H1 is rejected and H0 is accepted")

H1 is rejected and H0 is accepted

In [ ]:
 State the Hypotheses:

##  Ho: Smart light and satisfaction are independent (They don't have the relationship)
##  H1: Smart light and satisfaction are dependent (They have the relationship)

In [16]:
import researchpy as rp
table,results=rp.crosstab(df["Satisfaction"],df["Smart Light"], test="chi-square")   ### performing the chi-Square test and cross Tabulation between the Smart Light and satisfaction columns
print(table)
print(results)

                 Smart Light
Smart Light               50 70 90 100 All
Satisfaction
 Unsatisfied               1  0  0   0   1
Neutral                    0  0  1   0   1
Satisfied                  0  0  0   1   1
Very Satisfied             0  1  0   0   1
Very Unsatisfied           1  0  0   0   1
All                        2  1  1   1   5
                 Chi-square test  results
0  Pearson Chi-square ( 12.0) =   15.0000
1                     p-value =    0.2414
2                  Cramer's V =    1.0000

C:\Users\PHANI SRI\AppData\Roaming\Python\Python311\site-packages\researchpy\crosstab.py:146: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Pearson Chi-square ( 12.0) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = f"Pearson Chi-square ({dof: .1f}) = "

In [17]:
## calculating the Chi square table value
import scipy.stats as stats 
chi_table=stats.chi2.ppf(q=0.95,df=4) ## df= degree of freedom (no.of columns-1)(no.of rows-1)
chi_table.round(2)

9.49

In [18]:
alpha=0.05
pvalue=0.2202

if pvalue<alpha:
    print("H1 is accepted and H0 is rejected")
else:
    print("H1 is rejected and H0 is accepted")

H1 is rejected and H0 is accepted

In [ ]:
Conclusion:
There is no significant association between the type of smart home device purchased (Smart Thermostats vs. Smart Lights) and the customer satisfaction level.